<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymmanagement">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo_full_final"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo_full_final"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".membership_expiry"></activity>
        <activity android:name=".trainer_session_info" />
        <activity android:name=".dashboard" />
        <activity android:name=".app_intro" />
        <activity android:name=".session_info" />
        <activity android:name=".fragment_main" />
        <activity android:name=".edit_client" />
        <activity android:name=".add_client" />
        <activity android:name=".client_main" />
        <activity android:name=".edit_trainer" />
        <activity android:name=".add_trainer" />
        <activity android:name=".trainer_main" />
        <activity android:name=".after_login" />
        <activity android:name=".reset_password" />
        <activity android:name=".set_profile" />
        <activity android:name=".signUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>